$primary: #be0a26;
@import '~bootstrap/scss/bootstrap.scss';
/****************
 Colors
 ****************/

/**********************
 * Layout
 **********************/
a {
    color: #333;

    &:hover {
        color: #000;
    }
}

/**********************
 * Helpers
 **********************/
.pointer {
    cursor: pointer;
}

/****************
 Cards
 ****************/
.card-title {
    font-size: 16px;
    text-align: center;
}

.btn-primary {
    background-color: $primary;
}

.add-more {
    height: 100%;

    img {
        height: 70px;
    }
}

.card {
    p {
        font-size: 12px;
    }
}
/****************
 Nav
 ****************/
#nav a.router-link-exact-active {
    color: darken($primary, 10%);
    &:hover {
        color: $primary;
    }
}